---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

// Blog posts
const posts = await getCollection('blog');

// Changelogs
const changelogs = await getCollection('changelog');

// Combine and sort by date
const combined = [...posts, ...changelogs].sort((a, b) =>
    new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);

const latestPosts = combined.slice(0, 3); // Get only the top 3 latest posts

const pageTitle = "Latest"
const title = "Black Orchestra: World Front"

// Render content for each post
const renderedPosts = await Promise.all(
    latestPosts.map(async (post) => ({
        post,
        Content: (await post.render()).Content
    }))
);
---
<Layout pageTitle={pageTitle} title={title}>
    <div class="containerStyle1" id="Container1">
        {renderedPosts.map(({ post, Content }, index) => (
            <div class="boxWrapper markdown">
                <center> <h2>{post.data.date}</h2> </center>
                <center> <h1> {post.data.title} </h1></center>
                <Content />
                {index < renderedPosts.length - 1 && <hr class="divider">}
            </div>
        ))}
    </div>
</Layout>